code {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 33px;
  background-color: #1c1d1e;
  display: block;
  padding: 20px;
  overflow: auto;
  margin: 20px 0px;
  clear: both;
  color:white;
}
#sample-app.future{
	opacity: 0.1;
}
#sample-app.past{
	opacity: 0.1;
}
.header{
	padding:20px;
	font-weight:bold;
	font-size:100px;
}

